{% extends 'core/base.html' %}

{% load i18n %}

{% load static %}
{% block title %}Stock Roulant par Contrats Sciages{% endblock %}

{% block breadcrumbs %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c9cdd2;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#state" aria-controls="state" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="state">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'douala:douala' %}">&rsaquo; &nbsp; Douala</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'douala:stocks' %}">&rsaquo; &nbsp; Stocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" > &rsaquo; &nbsp; Sciages Roulant</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link link-secondary" href="{% url 'douala:stocks' %}"> | <i>Retour Menu Stocks</i> | </a>
            </li>
            </ul>
        </div>
    </div>
    </nav>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Sidebar -->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-sm-start" id="menu">
                    <hr>
                    <li><hr>S T O C K &nbsp;&nbsp; R O U L A N T<hr></li>
                    <hr>
                    <li class="nav-item">
                        <div class="dropdown pb-1 pt-1">
                            <a href="{% url 'douala:stock_roulant_contrats' %}" class="nav-link align-middle px-0 link-secondary">
                                <img src="{% static 'core/img/stocks.png' %}" alt="Stock Roulant Sciages par Contrats" width="30" height="30" class="fs-4">
                                <span class="ms-1 d-none d-sm-inline">Par Contrats</span>
                            </a>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <div class="dropdown pb-1 pt-1">
                            <a href="#" class="nav-link align-middle px-0 link-secondary">
                                <img src="{% static 'core/img/stocks.png' %}" alt="Stock Roulant Sciages par Contrats Détaillé" width="30" height="30" class="fs-4">
                                <span class="ms-1 d-none d-sm-inline">Par Contrats Détaillé</span>
                            </a>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <div class="dropdown pb-1 pt-1">
                            <a href="{% url 'douala:stock_roulant_camions' %}" class="nav-link align-middle px-0 link-secondary">
                                <img src="{% static 'core/img/stocks.png' %}" alt="Stock Roulant Sciages par Camions " width="30" height="30" class="fs-4">
                                <span class="ms-1 d-none d-sm-inline">Par Camions</span>
                            </a>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <div class="dropdown pb-1 pt-1">
                            <a href="{% url 'douala:stock_roulant_transporteurs' %}" class="nav-link align-middle px-0 link-secondary">
                                <img src="{% static 'core/img/stocks.png' %}" alt="Stock Roulant Sciages par Transporteurs " width="30" height="30" class="fs-4">
                                <span class="ms-1 d-none d-sm-inline">Par Transporteurs</span>
                            </a>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                </ul>
                <hr>
            </div>
        </div>
        <!-- END Sidebar -->

        <!-- Content -->
        <div class="col py-5 col-md-8 offset-md-1">
            <div class="container-fluid">
                <h3 class="text-decoration-underline">Stock Roulant de Colis de Sciages par Contrat Détaillé</h3>
                <br>
                
                    <table class="table table-responsive table-bordered text-center">
                        {% for ct in i_contrats_list %}
                        
                            <thead>
                                <tr>
                                    <td colspan = "15" class="align-center" style="font-weight: 600">{{ ct.num_contrat }}</td>
                                </tr>
                                 <tr>
                                <tr>
                                    <th>N.Contrat</th>
                                    <th>Essence</th>
                                    <th>Epais.</th>
                                    <th>N.Colis</th>
                                    <th>Nb Elts</th>
                                    <th>Volume</th>
                                    <th>Qualité</th>
                                    <th>Produit</th>
                                    <th>Specif</th>
                                    <th>Specif Douane</th>
                                    <th>Destinataire</th>
                                    <th>Destination</th>
                                    <th>Marque</th>
                                    <th>Réceptionnaire</th>
                                    <th>Code Trans</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for trans in ct.contrat_with_cubage %}
                                <tr>
                                    <td>{{trans.num_contrat|default_if_none:""}}</td>
                                    <td>{{trans.essence}}</td>
                                    <td>{{trans.epaisseur}}</td>
                                    <td>{{trans.num_colis}}</td>
                                    <td style="text-align: right;">{{trans.nbeltscolis}}</td>
                                    <td style="text-align: right;">{{trans.volumecolis}}</td>
                                    <td>{{trans.qualite|default_if_none:""}}</td>
                                    <td>{{trans.produit|default_if_none:""}}</td>
                                    <td >{{trans.num_contrat}}&nbsp{{trans.code_specif}}</td>
                                    <td>{{trans.code_specif_douane|default_if_none:""}}</td>
                                    <td>{{trans.destinataire|default_if_none:""}}</td>
                                    <td>{{trans.port_destination|default_if_none:""}}</td>
                                    <td>{{trans.marque|default_if_none:""}}</td>
                                    <td>{{trans.receptionnaire|default_if_none:""}}</td>
                                    <td><a href="{% url 'betou:transport_codetrans' trans.code_trans %}" class="link text-secondary">{{trans.code_trans}}</a> {% if not forloop.last %}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan = "3" style="text-align: center; font-weight: 600;">TOTAL / CONTRAT:</td>
                                <td style="text-align: right; font-weight: 600;">{{ ct.nbrect }} Colis</td>
                                <td style="text-align: right; font-weight: 600;">{{ ct.nbreeltsct }}</td>
                                <td style="text-align: right; font-weight: 600;"> {{ ct.volumect }}</td>  
                                <td colspan = "9"></td>
                            </tr> 

                        {% endfor %}

                        {% if not page_obj.has_next %}
                        <tr>
                            <td colspan = "3" style="text-align: center; font-weight: 600;">TOTAUX:</td>
                            <td style="text-align: right; font-weight: 600;">{{ totalcolis }} Colis</td>
                            <td style="text-align: right; font-weight: 600;">{{ totalelts }}</td>
                            <td style="text-align: right; font-weight: 600;"> {{ totalvolume }}</td>
                            <td colspan = "8"></td>
                            <td style="text-align: right; font-weight: 600;"> {{ nbrecamions }} Transport(s)</td>  
                        </tr>
                        {% endif %}


                        </tbody>
                    </table>

                <!-- Menú de paginación -->
                {% if is_paginated %}
                    <div id="content-pagination">
                        {% include 'core/_pagination.html' with page_obj=page_obj %}  
                    </div>
                {% endif %} 
            </div>
            
        </div>
        <!-- END Content -->
    </div>
</div>

{% endblock %}