{% extends 'core/base.html' %}

{% load i18n %}

{% load static %}
{% block title %}Stock Roulant Grumes par Contrat{% endblock %}

{% block breadcrumbs %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c9cdd2;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#state" aria-controls="state" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="state">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'douala:douala' %}">&rsaquo; &nbsp; Douala</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'douala:stocks' %}">&rsaquo; &nbsp; Stocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" > &rsaquo; &nbsp; Grumes Roulant</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link link-secondary" href="{% url 'douala:stocks' %}"> | <i>Retour Menu Stocks</i> | </a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Sidebar -->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-sm-start" id="menu">
                    <hr>
                    <li><hr>S T O C K &nbsp;&nbsp; R O U L A N T<hr></li>
                    <hr>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <div class="dropdown pb-1 pt-1">
                            <a href="#" class="nav-link align-middle px-0 link-secondary">
                                <img src="{% static 'core/img/stocks.png' %}" alt="Stock Roulant Sciages par Contrats" width="30" height="30" class="fs-4">
                                <span class="ms-1 d-none d-sm-inline">Par Contrats</span>
                            </a>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                        <div class="dropdown pb-1 pt-1">
                            <a href="{% url 'douala:stock_roulant_gr_contrats_detail' %}" class="nav-link align-middle px-0 link-secondary">
                                <img src="{% static 'core/img/stocks.png' %}" alt="Stock Roulant Sciages par Contrats" width="30" height="30" class="fs-4">
                                <span class="ms-1 d-none d-sm-inline">Par Contrats Détaillé</span>
                            </a>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <div class="dropdown pb-1 pt-1">
                            <a href="{% url 'douala:stock_roulant_gr_camions' %}" class="nav-link align-middle px-0 link-secondary">
                                <img src="{% static 'core/img/stocks.png' %}" alt="Stock Roulant Sciages par Camions " width="30" height="30" class="fs-4">
                                <span class="ms-1 d-none d-sm-inline">Par Camions</span>
                            </a>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <div class="dropdown pb-1 pt-1">
                            <a href="{% url 'douala:stock_roulant_gr_transporteurs' %}" class="nav-link align-middle px-0 link-secondary">
                                <img src="{% static 'core/img/stocks.png' %}" alt="Stock Roulant Sciages par Transporteurs " width="30" height="30" class="fs-4">
                                <span class="ms-1 d-none d-sm-inline">Par Transporteurs</span>
                            </a>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                </ul>
                <hr>
            </div>
        </div>
        <!-- END Sidebar -->

        <!-- Content -->
        <div class="col py-5 col-md-8 offset-md-1">
            <div class="container-fluid">
                <h3 class="text-decoration-underline">Stock Roulant de Grumes par Contrat</h3>
                <br>
                
                    <table class="table table-responsive table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Num. Contrat</th>
                                <th>Code Trans</th>
                                <th>Destination</th>
                                <th>Nbre Grume(s)</th>
                                <th>Volume M3</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                        {% for ct in transgrumescgdla_list %} 
                                
                            <tr>
                                <td>{{ct.transgrumescgdladet__num_contrat__num_contrat_gr}}</td>
                                <td><a href="{% url 'betou:transport_gr_codetrans' ct.code_trans %}" class="link text-secondary">{{ct.code_trans}}</a> {% if not forloop.last %}{% endif %}</td>
                                <td>{{ct.transgrumescgdladet__port_destination}}</td>
                                <td style="text-align: right;">{{ct.nbregrumes}}</td>
                                <td style="text-align: right;">{{ct.volumegrumes}}</td>
                            </tr>
                           
                        {% endfor %}
                            

                        {% if not page_obj.has_next %}
                        <tr>
                            <td style="text-align: center; font-weight: 600;">TOTAUX:</td>
                            <td style="text-align: right; font-weight: 600;">{{ nbrecamions }} Tr.</td>
                            <td></td>
                            <td style="text-align: right; font-weight: 600;"> {{ totalgrumes }} Gr.</td>
                            <td style="text-align: right; font-weight: 600;">{{ totalvolume }}</td>  
                        </tr>
                        {% endif %}

                        </tbody>
                    </table>

                <!-- Menú de paginación -->
                {% if is_paginated %}
                    <div id="content-pagination">
                        {% include 'core/_pagination.html' with page_obj=page_obj %}  
                    </div>
                {% endif %}  
            </div>
            
        </div>
        <!-- END Content -->
    </div>
</div>

{% endblock %}