{% extends 'core/base.html' %}

{% load i18n %}

{% load static %}
{% block title %}Détail De La Spécification{% endblock %}

{% block breadcrumbs %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c9cdd2;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#state" aria-controls="state" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="state">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'douala:douala' %}">&rsaquo; &nbsp; Douala</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'betou:specification_list' %}">&rsaquo; &nbsp; Spécifications Sciages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" > &rsaquo; &nbsp; Détail</a>
                </li>
            </ul>
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link link-secondary" href="{% url 'betou:specification_list' %}"> | <i>Liste des Spécifications Sciages</i> | </a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Sidebar -->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-sm-start" id="menu">
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <div class="dropdown pb-1 pt-1">
                            <a href="{% url 'betou:specification_list' %}" class="nav-link px-0 align-middle link-secondary">
                                <img src="{% static 'core/img/specifications.png' %}" alt="Spécifications" width="30" height="30" class="fs-4">
                                <span class="ms-1 d-none d-sm-inline">Spécifications Sciages</span> </a>
                        </div>
                    </li>
                    
                    <li><hr class="dropdown-divider"></li>
                </ul>
                <hr>
            </div>
        </div>
        <!-- END Sidebar -->

        <!-- Content -->
        <div class="col py-5 col-md-8 offset-md-1">
            <div class="container-fluid">
                <h3 class="text-decoration-underline">Détail de la Spécification des Colis de Sciages</h3>
                <br>
                <table class="table table-responsive table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Essence</th>
                            <th>Epais.</th>
                            <th>N.Colis</th>
                            <th>Nb Elts</th>
                            <th>Volume</th>
                            <th>Qualité</th>
                            <th>Produit</th>
                            <th>Certifié OLB</th>
                            <th>Num Specif</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% regroup page_obj by essence.specifcoliscgdladet as lst_group %}
                            {% for group_ess in lst_group %} 
                                {% for specif in group_ess.list %}
                                    <tr>
                                        <td>{{specif.essence}}</td>
                                        <td>{{specif.epaisseur}}</td>
                                        <td>{{specif.num_colis}}</td>
                                        <td style="text-align: right;">{{specif.nb_elts}}</td>
                                        <td style="text-align: right;">{{specif.volume}}</td>
                                        <td>{{specif.qualite}}</td>
                                        <td>{{specif.produit}}</td>
                                        <td>{{specif.certifie|yesno:"OUI,NON,--"}}</td>
                                        <td><a href="{% url 'betou:specification_numspecif' specif.num_specif %}" class="link text-secondary">{{specif.num_specif}}</a> {% if not forloop.last %}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}

                            {% if not page_obj.has_next %}
                                <tr>
                                    <td colspan = "2" style="text-align: center; font-weight: 600;">TOTAUX:</td>
                                    <td style="font-weight: 600;">{{ nbrecolis|length }} Colis</td>
                                    <td style="text-align: right; font-weight: 600;">{{ totalelts }}</td>
                                    <td style="text-align: right; font-weight: 600;"> {{ totalvolume }}</td>
                                    <td colspan = "12"></td>
                                </tr>
                            {% endif %}

                        
                    </tbody>
                </table>

                <!-- Menú de paginación -->
                {% if is_paginated %}
                    <div id="content-pagination">
                        {% include 'core/_pagination.html' with page_obj=page_obj %}  
                    </div>
                {% endif %}  
            </div>
            
        </div>
        <!-- END Content -->
    </div>
</div>
{% endblock %}