{% extends 'core/base.html' %}
{% load static %}
{% block title %}Rétablissement du Mot de Passe complété{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <h3 class="mb-4">Rétablissement du Mot de Passe complété</h3>
        <p>Votre Mot de Passe a été défini. Vous pouvez vous connecter.</p>
        <p><a href="{% url 'login' %}">Se connecter</a></p>
      </div>
    </div>
  </div>
</main>
{% endblock %}